{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<form class="form-inline" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="True") }}
    <div class="col-lg-6">
        <div class="input-group">
            {{ form.orderkey(class="form-control", placeholder="输入零件编号") }}
            {{ form.linenumber(class="form-control", placeholder="输入供应商编号") }}
            <span class="input-group-btn">
                {{ wtf.form_field(form.submit) }}
            </span>
        </div>
    </div>
</form>

<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'msg.html' %}
    </div>

    <div class="box-body">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>订单号</th>
                <th>零件</th>
                <th>供应商</th>
                <th>明细编号</th>
                <th>数量</th>
                <th>总金额</th>
                <th>折扣</th>
                <th>税</th>
                <th>是否退货</th>
                <th>明细状态</th>
                <th>运输日期</th>
                <th>交付日期</th>
                <th>收货日期</th>
                <th>运输单位</th>
                <th>运送方式</th>
                <th>备注</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% for lineitem in lineitems %}
            <tr>
                <td>{{ lineitem.L_ORDERKEY }}</td>
                <td>{{ lineitem.L_PARTKEY }}（{{ Part.query.filter_by(P_PARTKEY=partsupp.PS_PARTKEY).first().P_NAME }}）</td>
                <td>{{ lineitem.L_SUPPKEY }}（{{ Supplier.query.filter_by(S_SUPPKEY=partsupp.PS_SUPPKEY).first().S_NAME }}）</td>
                <td>{{ lineitem.L_LINENUMBER }}</td>
                <td>{{ lineitem.L_QUANTITY }}</td>
                <td>{{ lineitem.L_EXTENDEDPRICE }}</td>
                <td>{{ lineitem.L_DISCOUNT }}</td>
                <td>{{ lineitem.L_TAX }}</td>
                <td>{{ lineitem.L_RETURNFLAG }}</td>
                <td>{{ lineitem.L_LINESTATUS }}</td>
                <td>{{ lineitem.L_SHIPDATE }}</td>
                <td>{{ lineitem.L_COMMITDATE }}</td>
                <td>{{ lineitem.L_RECEIPDATE }}</td>
                <td>{{ lineitem.L_SHIPINSTRUCT }}</td>
                <td>{{ lineitem.L_SHIPMODE }}</td>
                <td>{{ lineitem.COMMENT }}</td>
                <td>
                    <a class="fa fa-lg fa-edit text-yellow" href="{{ url_for('edit_lineitem', id1=lineitem.L_PARTKEY, id2=lineitem.L_SUPPKEY) }}"></a>
                </td>
                <td>
                    <a class="fa fa-lg fa-warning text-red" href="{{ url_for('delete_lineitem', id1=lineitem.L_PARTKEY, id2=lineitem.L_SUPPKEY) }}"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="/add_lineitem" method="post">
        <input type="submit" value="增加记录">
    </form>
</div>
{% endblock %}
</body>
</html>